<a href="https://colab.research.google.com/github/laurasg2020/3erSemanaProg/blob/main/Scraping_Paraguay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [61]:
url = "https://datosmacro.expansion.com/otros/coronavirus-vacuna/paraguay"
r = requests.get(url)

In [58]:
soup = BeautifulSoup(r.content, "html.parser")

In [25]:
rows = soup.find('table', id='tb0').find('tbody').find_all('tr')

In [31]:
    fecha = []
    dosis_adm =[]
    personas_vac = []
    completo_vac = []
    porc_completo = []


    for row in rows:
        fecha.append(row.find_all('td')[0].get_text())
        dosis_adm.append(row.find_all('td')[1].get_text())
        personas_vac.append(row.find_all('td')[2].get_text())
        completo_vac.append(row.find_all('td')[3].get_text())
        porc_completo.append(row.find_all('td')[4].get_text())

In [62]:
df = pd.DataFrame({"Fecha":fecha,"Dosis Administradas":dosis_adm, "Personas vacunadas":personas_vac, "Completamente vacunadas":completo_vac, "% completamente vacunadas":porc_completo})

In [63]:
df

,Fecha,Dosis Administradas,Personas vacunadas,Completamente vacunadas,% completamente vacunadas
0,21/10/2022,9.419.313,3.967.215,3.518.399,"47,85%"
1,14/10/2022,9.407.422,3.965.786,3.516.189,"47,82%"
2,07/10/2022,9.398.544,3.964.564,3.514.444,"47,80%"
3,30/09/2022,9.390.960,3.963.563,3.512.972,"47,78%"
4,09/09/2022,9.386.134,3.986.965,3.516.872,"47,83%"
...,...,...,...,...,...
95,15/09/2021,4.271.051,2.439.006,1.832.045,"25,26%"
96,14/09/2021,4.271.051,2.439.006,1.832.045,"25,26%"
97,13/09/2021,4.271.051,2.439.006,1.832.045,"25,26%"
98,12/09/2021,4.271.051,2.439.006,1.832.045,"25,26%"
99,11/09/2021,4.271.051,2.439.006,1.832.045,"25,26%"

In [64]:
df.to_csv("Tabla covid Paraguay")